body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

.score {
  display: flex;
  width: 25rem;
  margin-bottom: 3rem;
  gap: 15px;
}

.score p{
  font-size: 1.2rem;

  width: 100%;
  padding: 5px 15px;

  border: 3px solid hsl(0, 0%, 60%);
  border-radius: 10px;
}

#jogo-da-velha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  margin-bottom: 3rem;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: hsl(0, 0%, 60%);

  height: 80px;
  width: 80px;
  border: 4px solid hsl(185, 100%, 50%);
  padding: 20px;
}

.b-top {
  border-top: 4px solid white;
}

.b-bottom {
  border-bottom: 4px solid white;
}

.b-left {
  border-left: 4px solid white;
}

.b-right {
  border-right: 4px solid white;
}

p {
  color: hsl(0, 0%, 60%);
}